### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_df = school_data_complete

# school_data.head()
# student_data.head()
# complete_df.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# calculate total number of schools
school_count = complete_df['school_name'].value_counts()
total_schools = len(school_count)

In [4]:
# calculate total number of students -- use complete 
student_count = complete_df['student_name'].count()

In [5]:
# calculate total district budget -- use school_data
district_budget = school_data['budget'].sum()

In [6]:
# calculate average math score 
district_avg_math = complete_df['math_score'].mean()

In [7]:
# calculate average reading score
district_avg_read = complete_df['reading_score'].mean()

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math = complete_df.loc[complete_df['math_score'] >= 70]['math_score'].count()
percent_passing_math = (passing_math/student_count)*100

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = complete_df.loc[complete_df['reading_score'] >= 70]['reading_score'].count()
percent_passing_read = (passing_read/student_count)*100

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
total_passing = complete_df.loc[(complete_df['reading_score'] >= 70) & (complete_df['math_score'] >= 70)]['student_name'].count()
total_pass_percent = (total_passing/student_count)*100

In [11]:
# Create a dataframe to hold the above results
district_sum= pd.DataFrame({
    "Total Schools": [total_schools], 
    "Total Students": [student_count], 
    "Total Budget": [district_budget], 
    "Average Math Score": [district_avg_math], 
    "Average Reading Score": [district_avg_read], 
    "% Passing Math": [percent_passing_math], 
    "% Passing Read": [percent_passing_read], 
    "% Overall Passing": [total_pass_percent]
})

In [12]:
# Give the displayed data cleaner formatting
district_sum.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}",
    "Average Math Score": "{:,.3f}",
    "Average Reading Score": "{:,.3f}", 
    "% Passing Math": "{:,.3f}", 
    "% Passing Read": "{:,.3f}", 
    "% Overall Passing": "{:,.3f}"
})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [248]:
# create summary dataframe for variables you already have
school_summ = pd.DataFrame({
    "School Name": school_data['school_name'], 
    "School Type": school_data['type'],
    "Total Students": school_data['size'],
    "Total School Budget": school_data['budget'],
})

In [291]:
# set school summary df index to school name
new_school_summ = school_summ.set_index('School Name')

In [250]:
# sort complete df by school name
all_schools_data = complete_df.groupby('school_name')

In [251]:
# per student budget
# find number of students per school
students_per_school = all_schools_data['Student ID'].count()

In [252]:
# total school budget
schools_budget = new_school_summ['Total School Budget']

In [253]:
# Per Student Budget
per_student_budget = schools_budget/students_per_school

In [254]:
# Average Math Score
school_avg_math = all_schools_data['math_score'].mean()

In [255]:
# Average Reading Score
school_avg_reading = all_schools_data['reading_score'].mean()

In [256]:
# % Passing Math
school_passing_math = complete_df[complete_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()
school_percent_passing_math = (school_passing_math/students_per_school)*100

In [257]:
# % Passing Reading
school_passing_reading = complete_df[complete_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
school_percent_passing_reading = (school_passing_reading/students_per_school)*100

In [258]:
# % Overall Passing (The percentage of students that passed math and reading.)
school_total_passing = complete_df[(complete_df['reading_score'] >= 70) & (complete_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()
school_pass_percent = (school_total_passing/students_per_school)*100

In [259]:
# rename new summary to adjust for sorting by school name
summary = new_school_summ.sort_values(by= 'School Name')

In [260]:
# add columns for the calculated metrics
summary['Per Student Budget'] = per_student_budget
summary['Average Math Score'] = school_avg_math
summary['Average Reading Score'] = school_avg_reading
summary['% Passing Math'] = school_percent_passing_math
summary['% Passing Reading'] = school_percent_passing_reading
summary['% Overall Passing'] = school_pass_percent
summary_df = summary

In [261]:
# format df
summary_df.style.format({
    "Total Students": "{:,}",
    "Total School Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.3f}",
    "Average Reading Score": "{:,.3f}", 
    "% Passing Math": "{:,.3f}", 
    "% Passing Reading": "{:,.3f}", 
    "% Overall Passing": "{:,.3f}"
})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [262]:
# Sort and display the top five performing schools by % overall passing
top_five = summary_df.sort_values(by= ["% Overall Passing"], ascending= False).head(5)
top_five

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [263]:
# Sort and display the five worst-performing schools by % overall passing.
bottom_five = summary_df.sort_values(by= ["% Overall Passing"], ascending=True).head(5)
bottom_five

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [264]:
# Create a pandas series for each grade and group by school. 
ninth_math = student_data.loc[student_data["grade"] == '9th'].groupby('school_name')['math_score'].mean()
tenth_math = student_data.loc[student_data["grade"] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_math = student_data.loc[student_data["grade"] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_math = student_data.loc[student_data["grade"] == '12th'].groupby('school_name')['math_score'].mean()

In [265]:
# Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_math, 
    "10th": tenth_math, 
    "11th": eleventh_math, 
    "12th": twelfth_math
})
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [266]:
# Create a pandas series for each grade and group by school. 
ninth_read = student_data.loc[student_data["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_read = student_data.loc[student_data["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_read = student_data.loc[student_data["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_read = student_data.loc[student_data["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

In [267]:
# Combine the series into a dataframe
read_scores_by_grade = pd.DataFrame({
    "9th": ninth_read, 
    "10th": tenth_read, 
    "11th": eleventh_read, 
    "12th": twelfth_read
})
read_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [268]:
# set bins 
bins = [0, 584, 629, 644, 675]
# assign groups
groups = ["<$584", "$585-629", "$630-644", "$645-675"]

# add bins to df
spending_bins = pd.cut(summary_df['Per Student Budget'], bins, labels=groups)
summary_df["Spending Ranges (Per Student)"] = spending_bins
spending_scores = summary_df.set_index("Spending Ranges (Per Student)")

In [269]:
# print scores by spending df
by_spending_df = pd.DataFrame({
    "Spending Ranges (Per Student)": spending_bins, 
    "Average Math Score": school_avg_math,
    "Average Reading Score": school_avg_reading, 
    "% Passing Math": school_percent_passing_math, 
    "% Passing Reading": school_percent_passing_reading, 
    "% Overall Passing": school_pass_percent
})

In [270]:
# set spending range as index and groupby spending
mean_score_spending = by_spending_df.set_index("Spending Ranges (Per Student)")
mean_score = mean_score_spending.groupby('Spending Ranges (Per Student)').mean()

In [271]:
# format mean scores by spending df
mean_score.style.format({
    "Average Math Score": "{:,.2f}",
    "Average Reading Score": "{:,.2f}", 
    "% Passing Math": "{:,.2f}", 
    "% Passing Reading": "{:,.2f}", 
    "% Overall Passing": "{:,.2f}"
})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [272]:
# set bins 
bins = [0, 1000, 2000, 5000]
# assign groups
groups = ["Small (<1,000)", "Medium (1,000-2,000)", "Large (2,000-5,000)"]

# add bins to df
size_bins = pd.cut(summary_df['Total Students'], bins, labels=groups)
summary_df["School Size"] = size_bins
size_scores = summary_df.set_index("School Size")

In [273]:
# print scores by size df
size_scores_df = pd.DataFrame({
    "School Size": size_bins, 
    "Average Math Score": school_avg_math,
    "Average Reading Score": school_avg_reading, 
    "% Passing Math": school_percent_passing_math, 
    "% Passing Reading": school_percent_passing_reading, 
    "% Overall Passing": school_pass_percent
})

In [287]:
# set school size as index and groupby school size
mean_score_size = size_scores_df.set_index("School Size")
mean_size_score = mean_score_size.groupby('School Size').mean()

In [275]:
# format mean scores by size df
mean_size_score.style.format({
    "Average Math Score": "{:,.2f}",
    "Average Reading Score": "{:,.2f}", 
    "% Passing Math": "{:,.2f}", 
    "% Passing Reading": "{:,.2f}", 
    "% Overall Passing": "{:,.2f}"
})

## Scores by School Type

* Perform the same operations as above, based on school type

In [290]:
# print scores by type scores df
type_scores_df = pd.DataFrame({
    "School Type": summary_df['School Type'],
    "Average Math Score": school_avg_math,
    "Average Reading Score": school_avg_reading, 
    "% Passing Math": school_percent_passing_math, 
    "% Passing Reading": school_percent_passing_reading, 
    "% Overall Passing": school_pass_percent
})

In [288]:
# set spending range as index and groupby spending
mean_score_type = type_scores_df.set_index("School Type")
mean_type_score = mean_score_type.groupby('School Type').mean()

In [289]:
# format mean type scores df
mean_type_score.style.format({
    "Average Math Score": "{:,.2f}",
    "Average Reading Score": "{:,.2f}", 
    "% Passing Math": "{:,.2f}", 
    "% Passing Reading": "{:,.2f}", 
    "% Overall Passing": "{:,.2f}"
})